<!DOCTYPE html>
<html>
<head>
  <title>Zintegrator</title>
  <%= stylesheet_link_tag    "zintegrator/application", media: "all" %>
  <%= javascript_include_tag "zintegrator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
